@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.body {
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

.container {
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.homecontainer {
    margin-top: 100px;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.searchSummoner {
    display: flex;
    justify-content: center;
    align-items:center;
}

.lolcontainer {
    margin-top: 100px;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.toprectangle {
    clear: both;
    width: 100%;
}

.summonerContainer {
    margin-top: 50px;
    width: 1200px;
    height: 900px;
}

.summonerMidContainer {
    margin: 20px;
}

#midContainerTop {
    height: 200px;
}

#midContainerTop #topRight {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #f2f2f2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#midContainerTop #topLeft {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100%;
    background-color: #f2f2f2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#leftMatchInfo1{
    clear: both;
}

.info {
    text-align: left;
    margin-left: 25px;
    margin-top: 25px;
}

.matchInfo {
    margin-top: 3px;
    font-size: 15px;
}

.winInfo {
    margin-top: 20px;
    font-size: 40px;
}

#midContainerCenter {
    margin-top: 25px;
}

#title h3 {
    font-weight: 600;
}

#champIconMiddle {
    float: left;
}

.champIconMiddle[src=""] {
    visibility: hidden;
}

.titleLeftMiddle {
    display: flex;
    justify-content: center; 
    align-items: center;
}

#champNameMiddle1 {
    float: left;
    align-items: center;
    margin-left: 25px;
}

#champIconMiddle2 {
    float: left;
}

#champNameMiddle2 {
    float: left;
    margin-left: 25px;
}

#champIconMiddle3 {
    float: left;
}

#champNameMiddle3 {
    float: left;
    margin-left: 25px;
}

#middleContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
}

#leftMiddleContainer,
#middleMiddleContainer,
#rightMiddleContainer {
    padding-top: 15px;
    height: 100%;
}

#middleContainer img {
    max-width: 75px;
    max-height: 75px;
}

#midContainerCenter #leftMiddleContainer,
#midContainerCenter #middleMiddleContainer,
#midContainerCenter #rightMiddleContainer {
    float: left;
    width: 370px;
    margin-top: 10px;
    margin-left: 30px;
    background-color: #f2f2f2;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#midContainerTop img {
    max-width: 100%;
    max-height: 100%;
}

#midContainerTop #bottom img {
    max-width: 50px; 
    max-height: 50px;
}

#midContainerTop #bottom #main1 img {
    max-width: 80px; 
    max-height: 80px;
}
#midContainerTop #topRight #bottom #main1 {
    float: left;
    display: flex;
    align-items: center;
    width: 293px;
    height: 100%;
    margin-right: 25px;
    font-size: 25px;
}

#midContainerTop #topRight #bottom #main1 #numberMain1 {
    float: left;
    margin-right: 10px;
    font-weight: 900;
    font-size: 60px;
}

#midContainerTop #topRight #bottom {
    float: left;  
    height: 100%; 
}


#midContainerTop #topRight #bottom #main2,
#midContainerTop #topRight #bottom #main3 {
    float: left;
    display: flex;
    align-items: center;
    width: 293px;
    height: 100%;
}

#midContainerTop #topRight #bottom #main2 #numberMain2,
#midContainerTop #topRight #bottom #main3 #numberMain3
{
    float: left;
    margin-right: 10px;
    font-weight: 900;
    font-size: 35px;
}
#midContainerTop #topRight #bottom #main1 #iconMain1,
#midContainerTop #topRight #bottom #main2 #iconMain2,
#midContainerTop #topRight #bottom #main3 #iconMain3 {
    float: left;
    margin-right: 10px;
}
#midContainerTop #topRight #bottom #main1 #nameMain1,
#midContainerTop #topRight #bottom #main2 #nameMain2,
#midContainerTop #topRight #bottom #main3 #nameMain3 {
    float: left;
}

#midContainerTop #topRight #rank {
    font-size: 30px;
    font-weight: 900;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#midContainerTop #topRight #upperInfo {
    font-size: 70px;
    font-weight: 700;
    height: 100%;
    float: left;
}

#midContainerTop #bottom #champLv1 {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: teal;
    clear: both;
}

#title h3 {
    text-align: center;
}

.champLv {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: teal;
    clear: both;
}

#midContainerTop #topRight #upperLv {
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    text-align: center;
    color: teal;
    float: left;
}

#midContainerTop #topRight #summonerName {
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    height: 100%;
    float: left;
}

.square {
    width: 50%;
    float: left;
}

.btnlol {
    margin: 55px;
}

.insidesquare {
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    background-color: #fff;
    margin-bottom: 300px; 
    font-weight: 700;
}

.container .btn {
    height: 50px;
    width: 150px;
}

:root {
    --color-primary: rebeccapurple;
    --color-danger: #ff0060;
    --color-success: #1b9c85;
    --color-warning: #f7d060;
    --color-white: #fff;
    --color-info-dark: #000;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 0.5rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 1rem 2rem var(--color-light);
    --box-shadow-banned-list: 0 0.5rem 0.5rem var(--color-light);
}

.dark-mode-variables {
    --color-backbround: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0,0,0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.logo h4 {
    font-size: small;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


.bodyMatch {
    font-size: 0.88rem;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-y: auto;
    color: var(--color-dark);
    background-color: var(--color-background);
}

.bodyMatch a {
    color: var(--color-dark);
}

.bodyMatch h1 {
    font-weight: 800;
    font-size: 1.8rem;
    color: #000;
}

.bodyMatch h2 {
    font-weight: 600;
    font-size: 1.4rem;
    color: #000;
}

.bodyMatch h3 {
    font-weight: 500;
    font-size: 1rem;
}

small {
    font-size: 0.80rem;
}

.bodyMatch p {
    color: var(--color-dark-variant);
}

.bodyMatch b {
    color: var(--color-dark);
}

.bodyMatch .text-muted {
    color: var(--color-info-dark);
}

.bodyMatch .primary {
    color: var(--color-primary);
}

.bodyMatch .danger {
    color: var(--color-danger);
}

.bodyMatch .success {
    color: var(--color-success);
}

.bodyMatch .warning {
    color: var(--color-warning);
}

.bodyMatch .matchcontainer {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

.bodyMatch aside {
    height: 95vh;
}

.bodyMatch aside .toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.bodyMatch aside .toggle .logo {
    display: flex;
    gap: 0.5rem;
}

.bodyMatch aside .toggle .logo h4 {
    color: var(--color-primary);
}


.bodyMatch aside .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--card-border-radius);
    height: 55vh;
    top: 1.5rem;
    transition: all 0.3s ease;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.75);
  }

  .bodyMatch aside .sidebar a:last-child {
    position: absolute;
    width: 100%;
    bottom: 2rem;
  }

  .sidebarItems {
    height: 100%;
    position: relative;
  }

  .github {
    margin-top: 40%;
    background-image: url('/img/GitHub_Logo.png');
    background-size: contain;
    background-repeat: no-repeat; 
    height: 95px;
    width: 100%; 
  }

  main .matchSearchBtn {
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    color: white;
    float: left;
  }

  

  main .matchSearchBtn:hover,
  main .matchSearchBtn:active,
  main .matchSearchBtn:focus{
    background-color: rgb(69, 30, 109);
    border-color: rgb(69, 30, 109);
    color: white;
  }
  
  .bodyMatch aside .sidebar::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/img/menuicons/DariusMenu.jpeg');
    background-size: cover;
    z-index: -1;
    border-radius: inherit;
  }
  
  .bodyMatch aside .sidebar a.active {
    width: 100%;
    color: var(--color-primary);
    background-color: rgba(255, 255, 255, 0.75);
  }

.bodyMatch aside .sidebar a {
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.bodyMatch aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 0.3s ease;
    margin-left: 15px;
}

.bodyMatch aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

.bodyMatch aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: 1.3rem;
    user-select: none; 
}

.bodyMatch aside .sidebar a:hover {
    color: var(--color-primary);
    background-color: rgba(255, 255, 255, 0.75);
}

.bodyMatch aside .sidebar a:hover span {
    margin-left: 1.3rem;
}

main {
    margin-top: 1.2rem;
}

main .match {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    width: 130vh;
    height: 81vh;
    clear: both;
}

.topBarMatchInfo {
    margin-top: 23px;
}

main .searchMatch {
    float: left;
}

main .matchInput {
    float: left;
    width: 300px;
}

main #aboutMatch {
    text-align: right;
    margin-right: 30px;
    color: #363949;
}

.upContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.upContainer p {
    width: 400px
}

.upContainer:last-child {
    width: 50%;
}

main #middleContainerMatchInfo {
    clear: both;
    margin-top: 45px;
}

.centerContainer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

main .whichTeamTextRight,
main .whichTeamTextLeft {
    clear: both;
    color: rebeccapurple;
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
    height: 50px;
    text-align: center;
    margin-top: 5px; 
    transition: all 0.3s ease;
}

main .leftMatchTeamContainer {
    float: left;
    width: 50%;
    height: 63vh;
    margin-left: auto;
    transition: all 0.3s ease;
    border-radius: 6px;
}

main .middleMatchTeamContainer {
    float: left;
    width: 5%;
    text-align: left;
}

main .middleMatchTeamContainer::after {
    content: "";
    position: absolute;
    top: 20%;
    bottom: 25%;
    width: 0.5px;
    background-color: black;
}

main .rightMatchTeamContainer {
    float: left;
    width: 50%;
    height: 63vh;
    margin-right: 2px;
    transition: all 0.3s ease;
    border-radius: 6px;
}

html {
    overflow: auto;
}

.copyright {
    text-align: center;
}

.champBannedIcon[src=""] {
    visibility: hidden;
}

.perk[src=""] {
    visibility: hidden;
}

.champMatchTeamIcons[src=""] {
    visibility: hidden;
}

.iconMain[src=""] {
    visibility: hidden;
}

#summonerIcon[src=""] {
    visibility: hidden;
}

.footerBannedList {
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}
.footerBannedList .bannedText {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(182, 0, 0);
    clear: both;
}

.footerBannedList .bannedList {
    clear: both;
}

.footerBannedList .bannedList img {
    max-width: 50px;
    max-height: 50px;
    height: 50px;
}

/* Left team */

.topLaneLeft,
.jungleLaneLeft,
.middleLaneLeft,
.supportLaneLeft,
.bottomLaneLeft {
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-top: 30px;
}

.topLaneLeft1,
.jungleLaneLeft1,
.middleLaneLeft1,
.supportLaneLeft1,
.bottomLaneLeft1 {
    float: left;
    text-align: left;
    width: 15px;
    margin-right: 5px;
    font-weight: 700;
}

.topLaneLeft2,
.jungleLaneLeft2,
.middleLaneLeft2,
.supportLaneLeft2,
.bottomLaneLeft2 {
    float: left;
}

.topLaneLeft3,
.jungleLaneLeft3,
.middleLaneLeft3,
.supportLaneLeft3,
.bottomLaneLeft3 {
    width: 250px;
    float: left;
    margin-left: 5px;
}

.topLaneLeft4,
.jungleLaneLeft4,
.middleLaneLeft4,
.supportLaneLeft4,
.bottomLaneLeft4 {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    margin-left: 15px;
}

.champMatchTeamIcons {
    max-width: 65px;
    max-height: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 10px;
}

.perk {
    max-width: 30px;
    max-height: 30px;
    margin-left: 3px;
    height: 30px;
}

.jungleLaneLeft {
    clear: both;
}

.topLaneLeft3Top,
.jungleLaneLeft3Top,
.middleLaneLeft3Top,
.supportLaneLeft3Top,
.bottomLaneLeft3Top {
    clear: both;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
}

.topLaneLeft3Bottom,
.jungleLaneLeft3Bottom,
.middleLaneLeft3Bottom,
.supportLaneLeft3Bottom,
.bottomLaneLeft3Bottom {
    float: left;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
}

.summonerLvAnRank #summonerLv {
    text-align: center;
    font-size: 16px;
}

.topLaneLeft4Top,
.topLaneLeft4Bottom,
.jungleLaneLeft4Top,
.jungleLaneLeft4Bottom,
.middleLaneLeft4Top,
.middleLaneLeft4Bottom,
.supportLaneLeft4Top,
.supportLaneLeft4Bottom,
.bottomLaneLeft4Top,
.bottomLaneLeft4Bottom {
    clear: both;
    margin-bottom: 5px;
    font-weight: 500;
}

.topLaneLeft4BottomLeft,
.topLaneLaneLeft4BottomRight,
.jungleLaneLeft4TopLeft,
.jungleLaneLeft4BottomRight,
.middleLaneLeft4TopLeft,
.middleLaneLeft4BottomRight,
.supportLaneLeft4TopLeft,
.supportLaneLeft4BottomRight,
.bottomLaneLeft4TopLeft,
.bottomLaneLeft4BottomRight {
    float: left;
}

/* Right team */
.topLaneRight,
.jungleLaneRight,
.middleLaneRight,
.supportLaneRight,
.bottomLaneRight {
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-top: 30px;
}

.topLaneRight1,
.jungleLaneRight1,
.middleLaneRight1,
.supportLaneRight1,
.bottomLaneRight1 {
    float: left;
    text-align: left;
    width: 15px;
    margin-right: 5px;
    font-weight: 700;
}

.topLaneRight2,
.jungleLaneRight2,
.middleLaneRight2,
.supportLaneRight2,
.bottomLaneRight2 {
    float: left;
}

.topLaneRight3,
.jungleLaneRight3,
.middleLaneRight3,
.supportLaneRight3,
.bottomLaneRight3 {
    width: 250px;
    float: left;
    margin-left: 5px;
}

.topLaneRight4,
.jungleLaneRight4,
.middleLaneRight4,
.supportLaneRight4,
.bottomLaneRight4 {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    margin-left: 15px;
}

.jungleLaneRight {
    clear: both;
}

.topLaneRight3Top,
.jungleLaneRight3Top,
.middleLaneRight3Top,
.supportLaneRight3Top,
.bottomLaneRight3Top {
    clear: both;
    display: flex;
    font-size: 23px;
    font-weight: 700;
    flex-direction: column;
    text-decoration: none;
}

.topLaneRight3Bottom,
.jungleLaneRight3Bottom,
.middleLaneRight3Bottom,
.supportLaneRight3Bottom,
.bottomLaneRight3Bottom {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
}

.topLaneRight4Top,
.topLaneRight4Bottom,
.jungleLaneRight4Top,
.jungleLaneRight4Bottom,
.middleLaneRight4Top,
.middleLaneRight4Bottom,
.supportLaneRight4Top,
.supportLaneRight4Bottom,
.bottomLaneRight4Top,
.bottomLaneRight4Bottom {
    clear: both;
    margin-bottom: 5px;
    font-weight: 500;
}

.topLaneRight4BottomRight,
.topLaneLaneRight4BottomRight,
.jungleLaneRight4TopRight,
.jungleLaneRight4BottomRight,
.middleLaneRight4TopRight,
.middleLaneRight4BottomRight,
.supportLaneRight4TopRight,
.supportLaneRight4BottomRight,
.bottomLaneRight4TopRight,
.bottomLaneRight4BottomRight {
    float: left;
}

.banned1,
.banned2,
.banned3,
.banned4,
.banned5,
.banned6,
.banned7,
.banned8,
.banned9,
.banned10 {
    float: left;
    width: 50px;
    height: 50px;
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: var(--box-shadow-banned-list);*/
}

.rightContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    height: 95%;
    position: relative;
    top: 2.4rem;
    transition: all 0.3s ease;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.75);
}

.last10MatchesImg {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    float: left;
}

.rightContainer {
    display: flex;
}

.matchesList {
    width: 100%; 
    clear: both;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#last10MatchesName {
    clear: both;
    font-size: 18px;
}

.last10MachesKda {
    clear: both;
}

.nameAndKda {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 120px;
    float: left;
}

.damage {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 65px;
    float: left;
    text-align: left;
    margin-left: 8px;
}

.last10MatchesWinAndLane {
    clear: both;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
}

.last10MatchesWinAndLane .lane {
    font-weight: 600;
    font-size: 15px;
}

.last10MatchesWinAndLane span {
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
    height: 50px;
    margin-top: 4px;
}

.matchesSummonerInfo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.matchesSummonerName {
    font-size: 25px;
    font-weight: 700;
}

.matchesSummonerLv {
    font-size: 20px;
    font-weight: 700;
    color: rebeccapurple;
    float: left;
}

.matchesSummonerRank {
    float: left;
    font-size: 20px;
    font-weight: 700;
}

.nameAndRank {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.leagueInfoContainer {
    height: 80px;
    font-size: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.leagueInfoWins {
    float: left;
    margin-right: 20px;
}

.leagueInfoLoses {
    float: left;
}

.leagueInfo {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;
    font-size: 35px;
}

.summonerLv {
    float: left;
}

.profileContainer {
    width: 30%; 
    float: left; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 250px;
}

.profileShadow {
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topSummonerContainer {
    width: 100%; 
    height: 250px; 
    text-align: center;
}

.centerSummonerContainer {
    backdrop-filter: blur(5px); 
    border-radius: 6px;
    background-color: rgb(0, 0, 0, 0.23);
    color: white;
    box-shadow: 0 0 1rem 0.1px rgb(0, 0, 0, 0.5);
    display: none;
}

.descContainer {
    width: 70%; 
    height: 100%;
    float: left;
    text-align: left;
}

.ranks {
    clear: both;
    position: absolute;
    bottom: 10px;
    width: 70%;
    display: flex;
    flex-direction: row;
    
}

.summonerNameLvPoints {
    text-align: left;
}

.summonerNameLvPoints .nameSummoner {
    font-size: 45px;
    font-weight: 600;
}

.summonerNameLvPoints .lvSummoner {
    font-size: 25px;
    font-weight: 500;
}

.summonerNameLvPoints .pointsSummoner {
    font-size: 18px;
    font-weight: 500;
}

.solo {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.flex {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.rankedFlex {
    float: left;
    font-size: 20px;
    font-weight: 800;
}

.rankedSolo {
    text-align: left;
    font-size: 20px;
    font-weight: 800;
}

#spinnerSearch {
    display: none;
}

#spinnerPlayer {
    display: none;
}

.logout {
    margin-right: auto;
}

#logoutText {
    margin-top: 7px;
    margin-left: auto;
}

.logoutBtn {
    text-align: center;
}

.leftTextButtons {
    margin-top: 7px;;
}

.about {
    backdrop-filter: blur(10px);
    border-radius: 6px;
    margin: 10px;
    padding-top: 12px;
}

.about b {
    color: #fff;
}

.aboutApp{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.warningContent {
    margin-top: 30px;
    height: 300px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.warningContent #infoText {
    margin-left: 1rem;
    margin-right: 1rem;
}

.containerFor20LastMatches {
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}